%br
%br
%br
%br
.header-content
  .header-content-inner
    .text-center
      %h1
        Profile:
      %h2 You name: #{@user.name}
      = image_tag @user.avatar
      %p
        Comments total: #{@user.comments.size}
      = link_to 'Edit', edit_user_path(@user)
      \|
      = link_to 'Back', user_path(@user)
