<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1 id="homeHeading">Your Favorite Source</h1>
      <hr>
      <% @pictures.each do |picture| %>

          <h2><%= article.title %></h2>
          <p><%= image_tag(picture.avatar, size: "600x400")  %></p>
          <h3><p><%= picture.title %></p></h3>
          <h3 class="page-header">Comments:</h3>
          <p><span class="glyphicon glyphicon-time"></span> Posted on <%= Time.now.strftime("%Y-%m-%d" "," "%H:%M:%S")%></p>
          <%= link_to new_picture_comment_path(picture), class: 'btn btn-primary' do %>
              Comments<span class="glyphicon glyphicon-chevron-right"></span>

          <% end %>
          <h2>
            <td><%= link_to 'Destroy', picture_path(article.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </h2>

      <% end %>
    </div>
  </div>
</header>
