%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title Creative - Start Bootstrap Theme
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    / Bootstrap Core CSS
    / Custom Fonts
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"}
    %script{:src => "https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"}
    %body{:style => "background-color: burlywood "}
  %body#page-top
    %nav#mainNav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            Menu
            %i.fa.fa-bars
          = link_to(t('application.menu.home'), root_path , :class => 'navbar-brand page-scroll')
        #bs-example-navbar-collapse-1.collapse.navbar-collapse.hide-lg
          %ul.nav.navbar-nav.navbar-right
            %li
              - if user_signed_in? && current_user.name.present?
                %a Hello, #{current_user.name}
                = link_to I18n.t('application.menu.profile'), user_path(current_user.id)
              - elsif user_signed_in? && current_user.email.present
                %a Hello, #{current_user.email}
                = link_to I18n.t('application.menu.profile'), user_path(current_user.id)
                %li
                  = link_to I18n.t('application.menu.log_out'), destroy_user_session_path, :method => :delete
              - else
                %li
                  = link_to I18n.t('application.menu.log_in'), new_user_session_path
                %li
                  = link_to I18n.t('application.menu.sign_up'), new_user_registration_path
                %li
                  = link_to I18n.t('application.menu.log_in_with_facebook'), user_facebook_omniauth_authorize_path
            %li
              = link_to I18n.t('application.menu.categories'), categories_path
            %li
              = link_to I18n.t('application.menu.pictures'), pictures_path
            %li
              = link_to I18n.t('application.menu.comments'), all_comments_path
            %li
              - if I18n.locale == :en
                = link_to locale: :ru do
                  %i.flag.flag-ru
                  RU
              - else
                = link_to locale: :en do
                  %i.flag.flag-en
                  EN

    = yield
